@CHARSET "UTF-8";

.login_background{position: absolute;left: 0px;padding: 0px;background-color: #2D5C97;}
.login_panel{width: 800px;height: 450px;padding: 0px;background-image: url(../images/page/login.png);}
.login_font{font-size: 13px;}

.error_background{position: absolute;left: 0px;padding: 0px;background-color: #2D5C97;}
.error_panel{width: 380px;height: 180px;padding: 0px;background-image: url(../images/page/error.png);}

.timeout_background{position: absolute;left: 0px;padding: 0px;background-color: #2D5C97;}
.timeout_panel{width: 380px;height: 180px;padding: 0px;background-image: url(../images/page/timeout.png);}
